/** IMPORTS **/
@import "variables.scss";
@import "reset.scss";

/** Versions: PC **/
#pc-wrap {
    width: 100%;
    height: 100%;
    .container {
        position: relative;
        width: 1300px;
        margin: 0 auto;
        display: flex;
        background: rgb(46, 146, 217);
    }
}